.navbar p {
	margin-top: 7px;
	color: white;
	font-size: 24px;
	font-weight: bold;
}

h3 {
	margin-top: 0px;
	margin-bottom: 20px;
}

.form-group {
	margin-top: 10px;
	margin-bottom: 0px;
}

.row label {
	margin-top: 7px;
}

#output-area {
	margin-top: 20px;
}
